<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>breakfast</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  </script>
  </head>
  <body>
    <div class="parallax-container">
    <div class="parallax"><img src="https://ultimatepaleoguide.com/wp-content/uploads/2014/08/DSC_0794.jpg"></div>
  </div>
  <div class="section indigo lighten-5">
    <div class="row container">
      <h2 class="header">Egg White Puffs</h2>
      <p class="grey-text text-darken-3 lighten-3">Ingredients: Liquid egg whites, Chopped spinach, Chopped bell pepper, Chopped onion, Sea salt and cracked black pepper to taste</p>
      <p>Directions: Preheat oven to 375 degrees. Spray muffin tin with non-stick cooking spray. Fill each muffin cup halfway with liquid egg whites. Add chopped veggies to each cup until almost full. Bake for 20 minutes.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1505253304499-671c55fb57fe?auto=format&fit=crop&w=634&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></div>
  </div>
  <div class="section indigo lighten-5">
    <div class="row container">
      <h2 class="header">Gluten-Free PBJ Waffles</h2>
      <p class="grey-text text-darken-3 lighten-3">Ingredients: ½ cup almond flour, 2 scoop bPI Sports Whey-HD, vanilla caramel, 1½ tsp baking powder, ¾ tbsp xanthan gum, 3 egg whites, 1 tbsp canola oil, 1 cup unsweetened almond milk</p>
      <p>Directions: For Waffles: Combine all dry ingredients in a large bowl. Slowly add wet ingredients while stirring. Let mixture sit for at least 10 minutes. Pour batter into waffle iron.
For Jelly: In a small saucepan, combine blueberries, lemon juice, and Stevia. Cook on high heat until blueberries break down into a liquid.Plate by smearing a tablespoon of natural peanut butter on the waffle. Drizzle with homemade jelly. Enjoy!
</p>
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1506655624258-6e7d8102f90f?auto=format&fit=crop&w=1105&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></div>
</div>
<div class="section indigo lighten-5">
  <div class="row container">
    <h2 class="header">Blueberry Protein Pancake</h2>
    <p class="grey-text text-darken-3 lighten-3">Ingredients: 1 scoop vanilla protein, 1/3-1/2 cup oats, 1/2 tbsp flaxseeds, 2 tbsp non-fat plain Greek yogurt, 1/4 cup unsweetened almond milk, 1/2 tsp baking powder, 1/4-1/2 cup blueberries, cinnamon and Stevia, to taste</p>
    <p>Directions: In a sauce pan, heat non-stick cooking spray over medium high heat. Blend all ingredients together.
      Pour mixture on pan and add half the blueberries to the pancake. When bubbles form on the surface, flip pancake and cook for another 2-3 minutes.
      Once pancake is done, top with remaining blueberries and sugar-free syrup.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1505252784141-72a7a8073787?auto=format&fit=crop&w=689&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></div>
</div>
<div class="section indigo lighten-5">
  <div class="row container">
    <h2 class="header">Breakfast Bar</h2>
    <p class="grey-text text-darken-3 lighten-3">Ingredients: ¼ cup raw oats, 8 tbsp sunflower seeds, 2 tbsp sesame seeds, ¼ cup almonds, slivered, ⅛ cup dried cranberries, 2 scoop vanilla protein powder, ⅓ cup honey, 3 tbsp brown sugar</p>
    <p>Directions: In a bowl, combine oats, seeds, nuts, cranberries, and protein powder.
Heat honey and brown sugar in a small skillet over medium heat until bubbling. Stir in the seed mixture until well-coated.
Pour mixture onto a sheet of parchment paper lightly sprayed with non-stick spray. Cover with another sheet of coated parchment paper.
Press mixture together until it forms a large rectangle.
Let sit for 30 minutes, remove paper, and cut into squares.
</p>
  </div>
</div>
  </body>
</html>
