<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dinner</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  </script>
  </head>
  <body>
    <div class="parallax-container">
    <div class="parallax"><img src="https://www.bodybuilding.com/images/2016/april/how-to-make-the-perfect-healthy-stir-fry-desktop.jpg"></div>
  </div>
  <div class="section indigo lighten-5">
    <div class="row container">
      <h2 class="header">Chicken Stir Fry</h2>
      <p class="grey-text text-darken-3 lighten-3">Ingredients: Chicken breast, shelled edamame, bell peppers, celery, mushrooms, broccoli, scalions, garlic, olive oil.</p>
      <p>Directions: Combine all of the sauce ingredients in a small bowl. Ensure all of the white clumps from the starch have been removed.
Set a nonstick skillet or wok on medium-high heat, and add 1 tablespoon olive oil. Add the raw, chopped chicken breasts, and cook for about 5-6 minutes, until the chicken is about 80 percent cooked. (There should be no visible pink pieces.) Set the chicken aside in a bowl so you can cook the veggies.
Set the same nonstick skillet or large wok on medium-high heat and add the remaining 1 tablespoon of olive oil. Add the garlic and chopped green onions, and begin to sauté for about 2 minutes. The green onions should be brown.
Add the raw veggies to the skillet and begin to sear them. You want some "crunch" in the veggies when you eat the stir-fry, so be careful not to overcook them.
Cook the veggies for about 7-8 minutes, then add the chicken back to the stir-fry and mix everything together.
Reduce the heat to medium, and move the chicken & veggie mixture to one side of the skillet to create room for the sauce.
Pour the sauce into the empty side of the skillet and allow the sauce to simmer. Once it begins to simmer, quickly mix everything together. Instant restaurant-style stir-fry!.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1454334281609-87a89762912c?auto=format&fit=crop&w=632&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></div>
  </div>
  <div class="section indigo lighten-5">
    <div class="row container">
      <h2 class="header">Zucchini Noodles with Shrimp & Sausage </h2>
      <p class="grey-text text-darken-3 lighten-3">Ingredients: Zucchini, 2 medium, Andouille chicken sausage, 1 sliced, Shrimp, peeled and deveined, 4 oz, Olive oil, 1 tbsp, Red bell pepper, thinly sliced, 1/2, Yellow onion, chopped, 1/2 cup, Celery, thinly sliced, 1/4 cup
        Diced tomatoes, undrainded, 1 cup, Reduced-sodium chicken broth, 1/2 cup, Tomato paste, 1 tbsp
        Cajun seasoning, 2 tsp, Garlic, minced, 2 tsp, Salt, to taste, Bay leaves, 2,
        Parsley for garnish.
      </p>
      <p>Directions: Spiralize zucchini using a spiralizer with a 3-millimiter blade.
Place your zucchini noodles in a colander (set over a large bowl) and sprinkle with a pinch of salt. Toss to coat and let stand so the noodles can release some water.
In a large pan, heat the olive oil on medium-high heat. Add in the Cajun seasoning and garlic and cook until garlic is golden brown and fragrant, about 1 minute.
Add in the sliced pepper, onion, and celery, and cook until vegetables are lightly browned and tender, about 2-3 minutes.
Reduce the temperature to medium, and add in the sliced chicken sausage. Cook until the sausage is slightly browned, about 2-3 minutes.
Add in the diced tomatoes, chicken broth, tomato paste, and bay leaves. Stir until the tomato sauce has broken down into the sauce. Raise the heat to medium-high, and bring to a boil.
Once boiling, reduce the heat back to medium and let simmer, uncovered, until the sauce has thickened and reduced by about half, about 10 minutes.
Add in the shrimp, cover the pan, and cook until the shrimp is opaque, about 2-3 minutes.
</p>
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax"><img src="https://www.bodybuilding.com/images/2016/may/4-30-minute-paleo-friendly-dinners-v2-4-compressed-700xh.jpg"></div>
</div>
<div class="section indigo lighten-5">
  <div class="row container">
    <h2 class="header">Beef stir-fry with sweet potato noodles</h2>
    <p class="grey-text text-darken-3 lighten-3">Ingredients: Sweet potato, 1 large,
Coconut oil, 2.5 tsp,
Fresh ginger, minced, 1 tsp,
Top sirloin steak, cut into bite-sized pieces, 1/2 lb, 100% orange juice, 1 cup
Fresh ginger, minced, 2 tsp
Coconut aminos, 1 tbsp + 1 tsp
Honey, 1 tbsp + 1 tsp
Kale, 6-8 cups
Salt and pepper, to taste
 </p>
    <p>Directions: Spiralize the sweet potato using the 3-millimeter-blade spiralizer.
Heat 1-1/2 teaspoons of the coconut oil in a large pan over medium heat. Add in the potato noodles and cook until they just begin to soften, about 5-7 minutes. Place into a bowl and cover to keep warm.
Heat the remaining teaspoon of oil in the pan over medium heat, and add in 1 teaspoon of fresh ginger. Cook until the ginger is lightly browned and fragrant, about 1 minute.
Add the steak and cook until it reaches desired doneness. Drain the fat and place into a bowl. Cover it to keep warm, and set aside.
In a small bowl, whisk together all the sauce ingredients except the kale and toss into the pan. Turn the heat up to high, and boil the sauce until it just begins to thicken, about 2-3 minutes.
Turn the heat down to medium and toss in the kale. Cook until the kale begins to wilt.
</p>
  </div>
</div>

  </body>
</html>
