<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="bootstrap.js"></script>
  </head>
  <body style="background-color:#F3EAF4">

    <div class="container">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>

          </ul>
        </nav>
        <img style="height:50px"src="img.jpg">
      </header>

      <main role="main">


        <div class="row">
          <div class="col-lg-12">
            <div class="card bg-dark text-white">
              <img class="card-img" src="steps.jpg" alt="step up">
                <div class="card-img-overlay">
                  <h4 class="card-title" style="font-size:60px">Workouts</h4>
                    <p class="card-text" style="font-size:40px">Detailed descriptions of each exercise.</p>
                    <ul style="font-size:20px">
                      <li>Gym Workouts</li>
                      <li>Home Workouts</li>
                      <li>Video Demonstrations</li>
                    </ul>
                </div>
              </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="card bg-dark text-white">
              <img class="card-img" src="nutri.jpg" alt="food pic">
                <div class="card-img-overlay">
                  <h4 class="card-title" style="font-size:60px">Nutrition</h4>
                    <p class="card-text" style="font-size:40px">Quick and easy recipes to fuel your mind & body.</p>
                    <ul style="font-size:20px">
                      <li>Breakfast</li>
                      <li>Lunch</li>
                      <li>Dinner</li>
                    </ul>
                </div>
              </div>
          </div>
        </div>

      </main>

      <footer class="footer">
        <p>&copy; FitOlogy 2017</p>
      </footer>

    </div> <!-- /container -->



  </body>
</html>
