<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lunch</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  </script>
  </head>
  <body>
    <div class="parallax-container">
    <div class="parallax"><img src="https://www.bodybuilding.com/images/2016/february/3-amazing-healthy-recipes-you-can-make-in-just-15-minutes-graphics-2.jpg"></div>
  </div>
  <div class="section indigo lighten-5">
    <div class="row container">
      <h2 class="header">Salmon Salad Stuffed Avocado</h2>
      <p class="grey-text text-darken-3 lighten-3">Ingredients: 2 Pan-seared Salmon steaks, Finely chopped dill, Champagne vinegar, Scallions, Lemon Juice, Avocado, Cucumber.</p>
      <p>Directions: In a medium bowl, mash the salmon with the dill, vinegar, lemon juice, and scallions until combined.
Halve the avocado lengthwise and remove the pit.
Split the salmon salad into two equal portions, and fill the avocado halves. You can garnish with cucumber and a piece of grapefruit.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1506367092773-f6c1da312a92?auto=format&fit=crop&w=700&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></div>
  </div>
  <div class="section indigo lighten-5">
    <div class="row container">
      <h2 class="header">Pita Pizza</h2>
      <p class="grey-text text-darken-3 lighten-3">Ingredients: 1 large pita, 1/4 cup fat-free pizza sauce, 1/4 cup part skim shredded mozzarella, 1/4 cup sliced mushrooms, 1/4 cup sliced bell pepper, 1 tbsp grated Parmesan
      Dash crushed red pepper flakes</p>
      <p>Directions: Preheat oven to 400 F.
Bring sauce ingredients to a boil over stovetop, then simmer 30-45 minutes.
Remove sausage casing and brown meat in skillet over medium heat, breaking it up with a turner or spatula as it cooks.
Spray a cookie sheet with cooking spray and bake pita for 10 minutes or until slightly stiff, but not crispy.
Take out pita, and turn oven up to 500 F.
Place pita on a cookie sheet and cover with sauce, cheese, sausage, and veggies, in that order.
Put back in the oven at 500 F for 5-7 minutes, watching closely. Pizza is done when crust is crispy and cheese is melted.
Top with parmesan and red pepper. Devour the entire thing!
</p>
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1504185945330-7a3ca1380535?auto=format&fit=crop&w=1221&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></div>
</div>
<div class="section indigo lighten-5">
  <div class="row container">
    <h2 class="header">Fish Burger</h2>
    <p class="grey-text text-darken-3 lighten-3">Ingredients: 6 oz. Flounder, Quinoa, Chia seeds, Kale, Cucumber, Whole-wheat bun. </p>
    <p>Directions: Cook quinoa for 15 minutes with salt and curry. Jamaican curry is a great choice!
Cook flounder for a minute each side on a low flame.
Preheat oven or grill to 425 degrees.
In a bowl, combine chia seeds, quinoa, flounder, minced garlic clove, bread crumbs, salt, pepper, and some chopped kale. Form into patty and put in oven for 8-10 minutes.
Dice up peeled cucumber and jalapeno. Mix in with mayo and a splash of lemon juice.
Toast buns, and combine everything to form your burger. Enjoy!
</p>
  </div>
</div>

  </body>
</html>
